@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Eventually by ytiralexip
/// ytiralexip.com @ytiralexip
/// License: ytiralexip.com/license
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}